.work {
  max-width: 1134px;
  margin: 0 auto;
  margin-top: 650px;

  hr {
    width: 884px;
    border: 3px solid #E4E4E4;
    margin: 0 auto;
  }

  .work__text {
    margin-top: 72px;
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
  }

  .work__content {
    display: flex;
    align-items: center;

    .work__content-p {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.1px;
      color: #FA4A0C;
    }

    .work__content-title {
      font-weight: bold;
      font-size: 37px;
      line-height: 54px;
      letter-spacing: 0.2px;
      color: #252B42;
    }
  }
}

@media (min-width: 768px) and (max-width: 968px) {
  .work {
    margin-top: 550px;
    hr {
      width: 720px;
    }

    .work__text {
      margin-top: 72px;
      font-size: 40px;
      line-height: 44px;
    }

    .work__content {
      margin-right: 20px;
      img {
        height: 550px;
      }

      .work__content-p {
        font-size: 22px;
        line-height: 28px;
      }
  
      .work__content-title {
        font-size: 32px;
        line-height: 40px;
      }
    }

  }
}

@media (min-width: 568px) and (max-width: 968px) {
  .work {
    margin-top: 450px;
    hr {
      width: 520px;
    }

    .work__text {
      margin-top: 52px;
      font-size: 36px;
      line-height: 40px;
    }

    .work__content {
      margin-right: 20px;
      img {
        height: 480px;
      }

      .work__content-p {
        font-size: 20px;
        line-height: 26px;
      }
  
      .work__content-title {
        font-size: 26px;
        line-height: 32px;
      }
    }

  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .work {
    margin-top: 100px;
    hr {
      width: 300px;
    }
    .work__content {
      display: block;

      img {
        display: none;
        margin: 0 auto;
        width: 440px;
      }

      .work__content-block {
        text-align: center;
      }
    }
  }
  
}